/*section "_layout" include grid sistem of each section of layout*/
/*-----------------------------------------Header-------------------------------------*/
.main-container {
  max-width: 1920px;
  background-color: #D9D9D9;
  border-radius: 30px;
  padding-top: 30px;
}

.cont {
  width: 1570px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
}

nav {
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
nav a {
  padding: 0;
}
nav .logo {
  font-family: K2D;
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  text-align: left;
  color: rgb(16, 15, 15);
  margin: 0px;
  width: 278px;
  margin-left: 90px;
}

.navbar-brand {
  margin-left: 100px;
}
.navbar-brand form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 40px;
  padding: 0;
  margin: 0;
}

.aria-label {
  width: 424px;
  height: 50px;
}

.signIn {
  width: 220px;
  height: 20px;
  text-align: center;
  border: none;
}

.block {
  width: 100%;
  height: 1px;
}

/*====================================== carausel ==================*/
.carousel {
  margin-bottom: 80px;
}

/*==================================== form =================*/
.form {
  width: 100%;
  height: 285px;
  padding: 100px 0 20px 0;
  background-color: #CD5B25;
  margin-bottom: 120px;
}

/*============================  pracing =====================*/
.pracing {
  width: 1339px;
  height: 1363px;
  margin: 0 auto;
}

.pracing-offers {
  width: 1100px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
}

/* ==================================== subscription =====================*/
/* ====================================  footer ===============================*/
.footer {
  width: 100%;
  height: 157px;
  background-color: #CD5B25;
}

/*==================================================== section yourPet =================================*/
.pet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.yourPet-text {
  width: 35%;
  padding: 210px 0 20px 20px;
}
.yourPet-text p {
  font-family: "K2D";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 34px;
  color: #000000;
  margin-bottom: 20px;
}

.yourText-button {
  box-sizing: border-box;
  width: 280px;
  height: 78px;
  left: 177px;
  top: 640px;
  border: 2px solid #CD5B25;
  border-radius: 10px;
  margin-top: 40px;
  font-family: "K2D";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 34px;
  color: #000000;
  color: #CD5B25;
}

.yourPet-photo {
  width: 45%;
  position: relative;
  z-index: 1;
}
.yourPet-photo img {
  max-width: 750px;
  height: 667px;
}

.yourPet-text_position {
  width: 1430px;
  height: 253px;
  position: absolute;
  z-index: 2;
  top: 190px;
  left: 120px;
  padding: 10px;
}

.border-line {
  width: 100%;
  border: 1px solid #CD5B25;
  margin-top: 40px;
  margin-bottom: 50px;
}

/*======================================== section carausel ========================================*/
.carousel-text {
  text-align: center;
}
.carousel-text .p-orange {
  font-family: K2D;
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  color: #CD5B25;
}
.carousel-text .p-black {
  font-family: "K2D";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 34px;
  color: #000000;
  margin-bottom: 20px;
}

.button-card {
  width: 290px;
  height: 53px;
  border-radius: 9px;
  border: 1px solid #CD5B25;
  font-weight: 700;
  font-size: 26px;
  color: #CD5B25;
}

/* ======================================= section form ==============================*/
.main-form {
  max-width: 1300px;
  height: 93px;
  margin: 0 auto;
}
.main-form .input-group-text {
  background-color: rgb(247, 245, 241);
  padding-left: 50px;
  font-family: K2D;
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  color: #CD5B25;
  border-radius: 5px;
}
.main-form .form-control {
  font-family: K2D;
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  color: #CD5B25;
  opacity: 0.9;
  margin-right: 40px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-start;
  color: #CD5B25;
  border-radius: 5px;
}
.main-form .btn {
  background-color: rgb(255, 255, 255);
  width: 130px;
  height: 93px;
  border-radius: 5px;
  margin-left: 20px;
}
.main-form .btn:hover {
  background-color: rgb(247, 238, 238);
}

/* =============================== section pricing =====================*/
.pracing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pracing-text .p-orange {
  font-family: K2D;
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  color: #CD5B25;
  color: #CD5B25;
  margin-bottom: 10px;
}
.pracing-text .p-black {
  font-family: "K2D";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 34px;
  color: #000000;
  text-align: center;
  margin-bottom: 35px;
}

.offer-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.offer-1, .offer-2, .offer-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.offer-1, .offer-2, .offer-3 {
  margin-bottom: 60px;
}

.offer-1_number, .offer-2_number {
  width: 63px;
  height: 143px;
  margin-top: 50px;
  margin-left: 25px;
}

.offer-3_number {
  width: 63px;
  height: 143px;
  margin-top: 50px;
  margin-right: 110px;
}

.offer-2_number {
  margin: 70px 80px 0 130px;
}

.offer-1_text {
  width: 470;
  padding: 5px;
}
.offer-1_text p {
  width: 460px;
  text-align: left;
  font-family: "K2D";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 34px;
  color: #000000;
}

.offer-1_card, .offer-2_card, .offer-3_card {
  width: 325px;
  height: 309px;
  border: 2px solid #CD5B25;
  padding: 25px 15px 20px 15px;
}
.offer-1_card .price, .offer-2_card .price, .offer-3_card .price {
  margin: 5px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}
.offer-1_card .trial, .offer-2_card .trial, .offer-3_card .trial {
  font-family: "K2D";
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #CD5B25;
  padding-left: 15px;
  margin-top: 35px;
}
.offer-1_card .descroption, .offer-2_card .descroption, .offer-3_card .descroption {
  font-family: K2D;
  font-size: 24px;
  font-weight: 300;
  line-height: 31px;
  letter-spacing: -0.05em;
  color: #605e5e;
}

.offer-3_card {
  margin-left: 110px;
}

/* ===================================== section subscription ===========*/
.subscription h2 {
  font-family: K2D;
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  color: #CD5B25;
  margin-bottom: 70px;
}

.container_car {
  width: 90%;
  margin: 0 auto;
}
.container_car .offer-1_card, .container_car .offer-2_card, .container_car .offer-3_card {
  margin-top: 10px;
  margin-right: 20px;
}
.container_car .offer-3_card {
  margin-left: 0;
}

/*================================footer =====================*/
.footer {
  background-color: #CD5B25;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer .navbar-brand {
  margin-left: 30px;
  margin-right: 400px;
}
.footer .navbar-nav {
  margin-right: 15px;
}
.footer .navbar-nav li {
  font-family: K2D;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}

.navbar-nav li:not(:last-child) {
  margin-right: 70px;
}/*# sourceMappingURL=main.css.map */